version: '3.9'

services:
  mongo_db:
    container_name: db_container
    image: mongo:latest
    restart: always
    ports:
      - 2717:27017
    volumes:
      - mongo_db:/data/db

  api:
    build: .
    ports:
      - 4000:3000
    volumes:
      - .:/src/index
    environment:
      - MONGODB_URL=mongodb://mongo_db:27017
      - PORT=3000
      - DB=arindamdb
    depends_on:
      - mongo_db

volumes:
  mongo_db: {}
























